body{
    background-color: black;
    color: whitesmoke;
    margin: 0px;
    font-family: 'Silkscreen', 'Courier New', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Header{
    font-size: 50px;
    margin-bottom: -40px;
    margin-top: -30px;
}
.Subtext{
    font-size: 25px;
}
.subtext{
    margin: 0px;
}
.UI{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options img{
    width: 115px;
    height: 115px;
    
}
.options{
    color: transparent; 
    background-color: transparent;
    border-color: transparent;
    border-radius: 70%;
    transition: 0.1s;
}
.options:hover:enabled{
    scale: 1.2;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.options:active:enabled{
    scale: 1.1;
    transition: 0.1;
}
.scoreboard{
    display: flex;
    gap: 80px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
#output{
    
    padding-top: 10px;
    font-size: 25px;
}
.choices{
    display: flex;
    gap: 60px;
}
.choice-pics{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 140px;
    align-items: center;
}
.choice-pics img{
    width: 140px;
    height: 140px;
}
.buttons{
    display: flex;
    gap: 25px;
    margin-top: 10px;
}
#final-output{
    font-size: 25px;
    min-height: 32px;
    margin: 10px;
    margin-bottom: 15;
}
#replaybtn{
  align-self: center;
  background-color: #121212;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Silkscreen", sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgb(255, 255, 255) 2px 8px 8px -5px;
  min-width: 82px;
}

#replaybtn:hover {
  box-shadow: rgb(255, 255, 255) 2px 12px 12px -5px;
  transform: translate3d(0, 1px, 0);
}

#replaybtn:active {
  box-shadow: rgb(255, 255, 255) 2px 8px 4px -6px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 0px;
    gap: 20px;
}
.credit{
   display: flex;
   align-items:flex-end;
   padding: 18px;
   border: 10px;
}
.creditText{
    margin: 0px;
    margin-top: 40px;
}



@media only screen and (max-width: 600px){
  
}